:root {
  --beige-500: #98908B;
  --beige-100: #F8F4F0;

  --grey-900: #201F24;
  --grey-500: #696868;
  --grey-300: #B3B3B3;
  --grey-100: #F2F2F2;

  --green-primary: #277C78;
  --yellow-primary: #f2cdac;
  --cyan-primary: #82c9d7;
  --navy-primary: #626070;
  --red-primary: #c94736;
  --purple-primary: #826cb0;

  --purple-secondary: #af81ba;
  --turquoise-secondary: #597c7c;
  --brown-secondary: #93674f;
  --magenta-secondary: #934f6f;
  --blue-secondary: #3f82b2;
  --navy-grey-secondary: #97a0ac;
  --army-green-secondary: #7f9161;
  --gold-secondary: #cab361;
  --orange-secondary: #be6c49;

  --white: #FFFFFF;

  --font-size-small: 12px;
  --font-size-medium: 14px;
  --font-size-large: 16px;
  --font-size-xlarge: 20px;
  --font-size-xxlarge: 32px;

  --line-height-normal: 150%;
  --line-height-tight: 120%;

  font-family: 'Public Sans', sans-serif;
  background-color: var(--beige-100);


}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@font-face {
  font-family: 'Public Sans';
  src: url('./assets/fonts/PublicSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

.auth-illustration {
  border-radius: 8px;
  box-sizing: border-box;

  height: 100%;
  width: 100%;
}

.auth-illustration-container {
  position: relative;
  grid-column: 1 / span 3;
  grid-row: 1 / -1;
  border-radius: 8px;
  padding: 1em;
  /* padding:1em 0 0 1em; */
}

.input-adornment:hover {
  cursor: pointer;
}

.auth-illustration-container::after {
  content: "finance";
  position: absolute;
  color: var(--beige-100);
  top: 1.5em;
  left: 2em;
  z-index: 1000;
  font-size: var(--font-size-xxlarge);
  font-weight: 800;
  line-height: var(--line-height-normal);
  letter-spacing: 0;
}

.auth-illustration-text-container {
  position: absolute;
  bottom: -1em;
  left: 3em;
  max-width: calc(92% - 8em);
  min-height: calc(22% - 2em);
  color: var(--beige-100);
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.summary-content-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  grid-template-rows: repeat(4, calc((100vw - 45em) / 4))
}

.pots {
  height: calc((100vw - 45em) / 4);
  min-width: 324px;
  background-color: var(--blue-secondary);
  border-radius: 8px;
  grid-column: 1/ span 4;
  grid-row: 1/span 1;
}

.budgets {
  border-radius: 8px;
  height: calc((100vw - 45em) / 2);
  min-width: 410px;
  background-color: var(--turquoise-secondary);
  grid-column: 5/-1;
  grid-row: 1/ span 2;

}

.transactions {
  height: auto;
  max-height: 100%;
  min-width: 608px;
  background-color: var(--purple-secondary);
  border-radius: 8px;
  grid-column: 1/ span 4;
  grid-row: 2/ -1;
}


.recurring-bills {
  min-height: 482px;
  min-width: 482px;
  background-color: var(--brown-secondary);
  border-radius: 8px;
  grid-column: 5/-1;
  grid-row: 3 / -1;
}