:root {
  --beige-500: #98908B;
  --beige-100: #F8F4F0;

  --grey-900: #201F24;
  --grey-500: #696868;
  --grey-300: #B3B3B3;
  --grey-100: #F2F2F2;

  --green-primary: #277C78;
  --yellow-primary: #f2cdac;
  --cyan-primary: #82c9d7;
  --navy-primary: #626070;
  --red-primary: #c94736;
  --purple-primary: #826cb0;

  --purple-secondary: #af81ba;
  --turquoise-secondary: #597c7c;
  --brown-secondary: #93674f;
  --magenta-secondary: #934f6f;
  --blue-secondary: #3f82b2;
  --navy-grey-secondary: #97a0ac;
  --army-green-secondary: #7f9161;
  --gold-secondary: #cab361;
  --orange-secondary: #be6c49;

  --white: #FFFFFF;

  --font-size-small: 12px;
  --font-size-medium: 14px;
  --font-size-large: 16px;
  --font-size-xlarge: 20px;
  --font-size-xxlarge: 24px;

  --line-height-normal: 150%;
  --line-height-tight: 120%;

  font-family: 'Public Sans', sans-serif;
  background-color: var(--beige-100);


}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
  position:relative;
}

@font-face {
  font-family: 'Public Sans';
  src: url('./assets/fonts/PublicSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

.auth-illustration{
  padding:1em;
  box-sizing: border-box;  
  height:100%;
  grid-column:1 / span 3;
  grid-row:1;
  max-height:100vh;
}

.auth-illustration-container{
  position:relative;
}

.input-adornment:hover{
  cursor:pointer;
}